Breakpoints_v2.xcbkptlist
WipingMyMac.xcodeproj/project.xcworkspace/xcuserdata/kito.xcuserdatad/UserInterfaceState.xcuserstate
WipingMyMac.xcodeproj/xcuserdata/kito.xcuserdatad/xcschemes/xcschememanagement.plist
